h3 {
    color: #fff;
    cursor: pointer;
}

.new_text {
    float: left;
}

.add_icon {
    clear: left;
}

.select {
    padding: -10px;
    margin-top: 10px;
    border: 1px blue solid;
    border-radius: 10px;
}

.text_field {
    color: #fff;
}

#content_body {
    background-color: #eee;
    padding: 10px;
    display: flex;
    clear: left;
    clear: right;
}

#langs {
    background-color: #2196f3;
    flex-grow: 1;
    order: 1;
}

#stmts {
    background-color: #3f51b5;
    flex-grow: 1;
    order: 2;
}

#items {
    background-color: #ffa500;
    flex-grow: 100;
    order: 3;
}

.content_body_item {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.text_field {
    width: 650px;
}

.title_view {
    float: left;
}

.save_button {
    float: right;
    clear: left;
}

